@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

:root {
  --primary-bg-color:#8b7fba;
  --light-bg-color: #afa5d9;
  --white-color: #f7f6fb;
  --primary-font: Open Sans, sans-serif;
  --normal-font-size: 1rem;
  --header-height: 2em;
  --nav-width: 200px;
  --z-fixed: 100;
}

body {
  font-family: var(--primary-font);
  margin: var(--header-height) 0 0 0; 
  padding: 0;
}

header {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: var(--header-height);
  background: var(--white-color);
  z-index: var(--z-fixed);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem 0 calc(var(--nav-width) + 2.5rem);
  height: var(--header-height);
}

nav a {
  text-decoration: none;
}

nav .logo {
  font-family: 'Press Start 2P', monospace;
  font-size: 1em;
  font-weight: bold;
  color: var(--primary-bg-color);
  /* padding: 0 0.5em 0 0.5em; */
}

nav .help {
  color: var(--primary-bg-color);
  cursor: pointer;
}

nav .help:hover {
  color: black;
}

nav .trigger {
  border: none;
  outline:none;
  background: none;
  font-size: 1.25em;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  z-index: var(--z-fixed);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: calc(50% + var(--nav-width));
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--light-bg-color);
  padding: 1rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: scroll;
}

.chart {  
  margin: 0 0 0 calc(var(--nav-width) + 4em);
  max-width: 1080px; 
  min-width: 750px;
}

.protein {
  margin: 0 0 0 calc(var(--nav-width) + 4em);
  max-width: 1080px; 
  min-width: 750px;
}

#viewport {
  height: 500px;
}

.tooltip {
  padding: 8px 12px;
  color: black;
  border-radius: 6px;
  border: 2px solid rgba(255,255,255,0.5);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  pointer-events: none;
  transform: translate(-50%, -100%);
  font-family: "Helvetica", sans-serif;
  background: rgba(20,10,30,0.6);
  transition: 0.2s opacity ease-out, 0.1s border-color ease-out;
  backdrop-filter: blur(4px);
  background: rgba(250,240,255,0.2);
  backdrop-filter: blur(7px);
}

.axis {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}