body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
}

h1 code {
  font-family: monospace;
  font-size: 40px;
  line-height: 40px;
}

#chart-config {
  display: flex;
  gap: 1em;
}