/* CSS for components on the website including the loading spinner and alerts  */

/* Alert Styles */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  padding-right: 35px;
}

.alert.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert.info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert.instruct {
  color: #015b31;
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.alert.hidden {
  display: none;
}

.alert a {
  color: inherit;
  font-weight: bold;
}

.alert-close {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.alert-close i {
  font-size: 1.5rem;
}

/* Info Tooltip Styles */
.tippy-box[data-theme~="select-info"] {
  color: rgb(222, 222, 222);
  background-color: rgba(0, 0, 0, 0.75);
}

#dataset-info-button {
  border: none;
  outline: none;
  background: none;
  text-align: center;
}

/* Loading Spinner Styles */
#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 5px solid #000;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
