/* CSS for the application layout and resizing  */

.app-header {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: var(--z-index-nav);
  width: 100%;
  pointer-events: none;
}

.app-sidebar {
  position: fixed;
  top: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  z-index: 100;
  overflow: scroll;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  padding: 0 2.5em 0 calc(var(--sidebar-width) + 2.5em);
  transition: 0.5s;
  min-height: 100vh;
}

.app-main.sidebar-collapsed {
  padding: 0 4em 0 calc(var(--sidebar-icon-width) + 4em);
}

.app-main .container {
  max-width: calc(var(--layout-max-width) - var(--sidebar-width));
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.app-main.sidebar-collapsed .container {
  max-width: calc(var(--layout-max-width) - var(--sidebar-icon-width));
}

.protein {
  border-radius: 10px;
}
