/* CSS for the application layout and resizing  */

.app-navbar {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: var(--z-index-nav);
  width: 100%;
  pointer-events: none;
}

.app-sidebar {
  position: fixed;
  top: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  z-index: 100;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 0 auto;
  max-width: calc(var(--layout-max-width) + var(--sidebar-width));
  min-width: calc(var(--layout-min-width) + var(--sidebar-width));
  padding-right: 32px;
  min-height: 100vh;
}

.app-main.sidebar-collapsed {
  max-width: calc(var(--layout-max-width) + var(--sidebar-icon-width));
  min-width: calc(var(--layout-min-width) + var(--sidebar-icon-width));
}

.app-main .container {
  width: 100%;
  padding-left: calc(var(--sidebar-width) + 32px);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.app-main.sidebar-collapsed .container {
  padding-left: calc(var(--sidebar-icon-width) + 32px);
}

.protein {
  border-radius: 10px;
}
